In [1]:
from pmlb import fetch_data
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
import numpy as np

In [2]:
df_pmlb = fetch_data('519_vinnie')
df_source = pd.read_csv('https://www.openml.org/data/get_csv/52631/vinnie.arff')
df_source = df_source.rename(columns={'field_goals': 'target'})

In [3]:
df_source.head()

   year  target  field_goal_attempts
0    85       3                   10
1    85       7                   13
2    85       5                   11
3    85      12                   23
4    85       7                   13

In [4]:
df_pmlb.head()

   year  field_goal_attempts  target
0  85.0                 10.0     3.0
1  85.0                 13.0     7.0
2  85.0                 11.0     5.0
3  85.0                 23.0    12.0
4  85.0                 13.0     7.0

In [5]:
df_source = df_source[list(df_pmlb.columns)]
df_source.head()

   year  field_goal_attempts  target
0    85                   10       3
1    85                   13       7
2    85                   11       5
3    85                   23      12
4    85                   13       7

In [9]:
df_pmlb_int = df_pmlb.astype(np.int64)
df_pmlb_int.head()

   year  field_goal_attempts  target
0    85                   10       3
1    85                   13       7
2    85                   11       5
3    85                   23      12
4    85                   13       7

In [10]:
pd.testing.assert_frame_equal(df_source, df_pmlb_int)

In [11]:
df_pmlb_int.to_csv("datasets/519_vinnie/519_vinnie.tsv.gz", sep="\t", index=False, compression="gzip")

In [12]:
df_pmlb = fetch_data('519_vinnie', local_cache_dir="datasets/")
df_pmlb.head()

   year  field_goal_attempts  target
0    85                   10       3
1    85                   13       7
2    85                   11       5
3    85                   23      12
4    85                   13       7

In [13]:
pd.testing.assert_frame_equal(df_source, df_pmlb)